SECRET_KEY_BASE=[this can be anything]

# Database
DATABASE_URL=postgresql://postgres@db/tax-tribunals-fees

# GLiMR API Location
GLIMR_API_URL=[location of your instance of the GLiMR API]
UPDATE_GLIMR=true

# GOV.UK Pay
GOVUK_PAY_API_URL=https://publicapi.payments.service.gov.uk/v1
GOVUK_PAY_API_KEY=[your gov.uk pay API key]

RAILS_ENV=development
