BUCKET_NAME=[the s3 bucket that the uploader/downloader will use]
AWS_ACCESS_KEY_ID=[access key with permission on the S3 bucket]
AWS_SECRET_ACCESS_KEY=[secret access key with permission on the S3 bucket]
AWS_REGION=eu-west-1
SCANNER_URL=http://clamav-rest:8080/scan
