SECRET_KEY_BASE=[this can be anything]

# Database
DATABASE_URL=postgresql://postgres@db/tax-tribunals-datacapture

# Gov.UK Notify
GOV_UK_NOTIFY_API_KEY=[your gov.uk notify api key]
EMAIL_TEMPLATE_TEST=[the uuid of your email template on gov.uk notify]

# These hostnames and port numbers are defined in the docker-compose.yml file
PAYMENT_ENDPOINT=http://fee-payment:4500
MOJ_FILE_UPLOADER_ENDPOINT=http://uploader:9292
TAX_TRIBUNALS_DOWNLOADER_URL=http://downloader:9393

RAILS_ENV=production
# This enables asset compilation in the production environment
DISABLE_DATABASE_ENVIRONMENT_CHECK=1
